body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red-container {
    padding: 30px;
    background-color: rgba(128, 0, 0, 0.75);
}

.jumbotron {
    margin: 0px;
    color: white;
    background-color: rgba(128, 0, 0, 0.75);
}

/*.navbar-custom-white {
    color: black;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}*/

.profile-img {
    max-width: 100%;
}

.padding-zero {
    padding: 0px;
}

.social-buttons {
    padding-top: 15px;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-copyright {
    text-align: center;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}