@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="col-md-4 col-sm-6 hidden-xs">
            <img class="profile-img" src="~/Content/Profile.png"/>
        </div>
        <div class="col-md-8 col-sm-6">
            <h1>@ViewBag.Name</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique. This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <div class="col-xs-12 btn-group btn-group-lg social-buttons" role="group"> 
                <a href="#" class="col-xs-3 btn btn-default" role="button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="col-xs-3 btn btn-default" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="col-xs-3 btn btn-default" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#" class="col-xs-3 btn btn-default" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div> 
        </div>
    </div>
</div>
<div class="container">
    @{Html.RenderAction("ProjectsPartial", "Projects", new { area = "Projects" });}
</div>
